<div>
  {{>header}}
  <div class="jumbotron">
    <h1 class="display-4">The More You Know</h1>

    <p class="lead">An app to picque your curiosity and learn strange things.</p>

    <hr class="my-4">

    <button>
      <a href='/api/get-articles'>
        See New Articles
      </a>
    </button>

    <button>
      {{!-- <a href='#'></a> --}}
      <a href='/api/delete-articles'>
        Clear Current Article Batch
      </a>
    </button>

  </div>

  <div class="article-collection">

    {{#each articles as |article|}}
    <div class="article-content" id={{article._id}}>
      {{#if article.image}}
      <img src={{article.image}}>
      {{/if}}

      <h3>
        <span class="title-keyword">Title:</span>
        <a href={{article.link}} target="_blank" class="article-link">
          {{article.title}}
        </a>
        {{!-- <span>{{article.category}}</span> --}}
      </h3>
      <h4>{{article.category}}</h4>

      <p class="article-summary">{{article.summary}}</p>

      <button type="button" class="btn btn-outline-dark mx-auto comment-btn">Note/Comment</button>


    </div>
    {{else}}
    <div>No Articles Pulled Yet! Wanna pull some?</div>
    {{/each}}
  </div>

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Article Notes and Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" name="title" placeholder="Title">
            <textarea name="body" placeholder="Enter a comment or note"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary save-note"><a class="save-button"
              href="/api/:article-id/post-note">Save</a></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>